
<table style="@import url(https: //fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;" border="0">
<tbody>
<tr>
<td style="height: 20px;">&nbsp;</td>
</tr>
<tr>
<td>
<table style="background-color: #f2f3f8; max-width: 670px; margin: 0 auto;" border="0">
<tbody>
<tr>
<td>
<table style="max-width: 670px; background: #ffffff; border-radius: 3px; text-align: center; box-shadow: rgba(0, 0, 0, 0.06) 0px 6px 18px 0px; width: 149.925%;" border="0">
<tbody>
<tr>
<td style="height: 40px; width: 100%;">&nbsp;</td>
</tr>
<tr>
<td style="padding: 0px 35px; width: 100%;">
 <h1><a style="color: #4169e1;" href='http://localhost:8000'>CODEIAL</a></h1>
<p style="color: #455056; font-size: 15px; line-height: 24px; margin: 0;">Hi <%= comment.user.name %>!</p>
<p>Your comment <strong><%= comment.content %></strong> just got published on codeial.</p>
</tr>
<tr>
<td style="height: 20px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 100%;">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>