.reset-module {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30vw;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px; }
  .reset-module h1 {
    display: flex;
    width: 100%;
    color: white;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    border-left: 5px solid royalblue; }
  .reset-module form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%; }
    .reset-module form label {
      color: white; }
    .reset-module form input {
      width: 100%;
      margin: 5px 0;
      color: white;
      background: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    .reset-module form input:focus {
      border-bottom: 1px solid royalblue; }
    .reset-module form .reset-btn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .reset-module form .reset-btn button {
        padding: 0.4rem 3rem;
        width: fit-content;
        border: 1px solid white;
        background: white;
        color: royalblue;
        border-radius: 5px;
        margin-top: 1rem;
        letter-spacing: 2px; }
      .reset-module form .reset-btn button:hover {
        background: transparent;
        color: white; }
