.profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 35vw;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px; }
  .profile .user-profile {
    height: 12rem;
    width: 12rem;
    z-index: 1; }
    .profile .user-profile img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
      border: 2px solid royalblue; }
  .profile .edit-btn {
    margin-top: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid royalblue;
    background: white;
    font-size: 1.6rem;
    z-index: 2; }
  .profile .edit-btn:hover {
    color: royalblue; }
  .profile .active-user {
    display: none; }
  .profile .form-detail {
    display: none; }
  .profile form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; }
    .profile form label {
      color: white; }
    .profile form input {
      margin: 5px 0;
      width: 100%;
      border: none;
      outline: none;
      background: transparent;
      color: white;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    .profile form input:focus {
      border-bottom: 1px solid royalblue; }
    .profile form #avatar {
      border: none; }
    .profile form .update-btn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .profile form #update {
      padding: 0.4rem 3rem;
      width: fit-content;
      border: 1px solid white;
      background: white;
      color: royalblue;
      border-radius: 100vmax;
      margin-top: 1rem;
      letter-spacing: 2px; }
    .profile form #update:hover {
      background: transparent;
      color: white; }
  .profile .profile-user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px; }
    .profile .profile-user p {
      margin: 8px 0;
      color: white; }
    .profile .profile-user a {
      text-decoration: none; }
    .profile .profile-user .userLogoutBtn {
      padding: 0.4rem 3rem;
      width: fit-content;
      border: 1px solid white;
      background: white;
      color: royalblue;
      border-radius: 100vmax;
      margin-top: 1rem;
      letter-spacing: 2px; }
    .profile .profile-user .userLogoutBtn:hover {
      background: transparent;
      color: white; }
  .profile .friend-btn {
    margin: 1rem 0; }
  .profile .friend-toggle-btn {
    padding: 0.4rem 3rem;
    width: fit-content;
    border: 1px solid white;
    background: white;
    color: royalblue;
    border-radius: 100vmax;
    font-size: 0.9rem;
    letter-spacing: 2px;
    text-decoration: none; }
  .profile .friend-toggle-btn:hover {
    background: transparent;
    color: white; }

@media only screen and (max-width: 1408px) {
  .profile {
    width: 40vw; } }

@media only screen and (max-width: 1024px) {
  .profile {
    width: 48vw; } }

@media only screen and (max-width: 768px) {
  .profile {
    width: 80vw; } }

@media only screen and (max-width: 425px) {
  .profile {
    width: 95vw; } }
