<link rel="stylesheet" href="<%= assetPath('css/resetpassword.css') %>">

<div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>

    <div class="reset-module">
        <h1>Reset Password</h1>
        <form method="POST" action="/reset_password/password_changed">
            <label for="pass1">Enter new password</label>
            <input type="password" id="pass1" name="pass1" placeholder="Password" aria-describedby="emailHelp" required>
            <label for="pass2">Re-enter password</label>
            <input type="password" id="pass2" name="pass2" placeholder="Re-Password" required>
            <input type="hidden" name="access_token" value="<%= access_token %>">
            <div class="reset-btn">
                <button type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>

